.calendar {
	display: flex;
	flex-direction: column;
	max-inline-size: 20.5rem;
	inline-size: 100%;
}

.calendar__header {
	padding-inline: 2.625rem;
	padding-block: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: var(--black);
	color: var(--white);
	text-align: center;
}

.calendar__header-title {
	margin: 0;
	font-family: Inter, sans-serif;
	font-weight: 400;
	font-size: 6rem;
	line-height: 4.5625rem;
}

.calendar__header-date {
	font: var(--desktop-h5-medium);
	display: flex;
	justify-content: space-between;
	align-items: center;
	vertical-align: middle;
}

.calendar__header-date span:not(.calendar__header-date-day, .calendar__header-date-month, .calendar__header-date-year) {
	transform: translateY(-6px);
}

.calendar__body {
	display: flex;
	flex-direction: column;
	gap: 0.65875rem;
	padding-inline: 1.27625rem;
	padding-block: 2.51125rem;
	background-color: var(--white);
}

.calendar__body-title {
	margin: 0;
	font: var(--desktop-h4);
}

.calendar__body-calendar {
	display: flex;
	flex-direction: column;
	gap: 0.65875rem;
	padding-inline: 1.235rem;
}

.calendar__body-calendar-year {
	display: flex;
	justify-content: center;
	gap: 0.988125rem;
	font: var(--desktop-body3-regular);
	font-weight: 500;
	text-transform: uppercase;
}

.calendar__body-calendar-year i {
	font-size: 1rem;
	font-weight: 500;
}

.calendar__body-calendar-days {
	display: grid;
	grid-template-columns: repeat(7, 1.646875rem);
	grid-template-rows: repeat(6, 1.646875rem);
	gap: 0.329375rem 0.660625rem;
}

.calendar__body-calendar-days {
	font: var(--desktop-body2-regular);
	font-size: 0.65875rem;
	text-align: center;
}

.calendar__body-calendar-day {
	font: var(--desktop-body3-regular);
	font-size: 0.57625rem;
}

.calendar__body-calendar-days,
.calendar__body-calendar-day {
	text-align: center;
}

.calendar__body-day {
	border-radius: 50%;
	line-height: 1.5625rem;
	cursor: pointer;
	transition: 350ms;
	will-change: transition;
}

.calendar__body-day:hover {
	background-color: var(--secondary);
	color: var(--primary);
}

@media screen and (min-width: 995px) {
	.calendar {
		flex-direction: initial;
		max-inline-size: 996px;
		inline-size: 100%;
	}

	.calendar__header,
	.calendar__body {
		max-inline-size: 498px;
		inline-size: 100%;
	}
}